#viewIcon {
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#exampleInputPassword1 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}